{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'webapp/css/contactus.css' %}">
    <link rel="icon" href="{% static 'webapp/images/logo.png' %}" type="image/x-icon" />
    <script src="{% static 'webapp/js/scripts.js' %}"></script>

</head>
<body>
    <div class="bgm">
        <h1>Contact Us</h1>
        <div class="mainbox">
            <div class="leftbox">
                <form id="contactForm">
                    <h2> Connect with Us</h2><hr>
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" required>

                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required>

                    <label for="phone_number">Phone Number</label>
                    <input type="text" id="phone_number" name="phone_number" required>

                    <label for="requirement">Requirement</label>
                    <textarea id="requirement" name="requirement" rows="1" required></textarea>

                    <input type="submit" value="Submit">
                    
                </form>
            </div>
            <div class="rightbox">
                <img class="advimg" src="{% static 'webapp/images/contactus.png' %}" alt="Contact Us">
            
            </div>
        </div>

            <div id="popup">
                Successfully Submitted!
                <br>
                <button class="go-home" onclick="location.href='{% url 'home' %}'">Go to Home Page</button>
            </div>
        </div>
        <div class="footer">
            <p>Phone: <a href="tel:+918328423151">+91 8328423151</a> &nbsp &nbsp &nbsp &nbsp Email: <a href="mailto:team@networkspace.in">team@networkspace.in</a></p>
        </div>
          
    </div>
    <script>
        document.getElementById("contactForm").addEventListener("submit", async function(event) {
            event.preventDefault();

            const formData = new FormData(this);

            const response = await fetch("{% url 'contact_us' %}", {
                method: "POST",
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}",
                },
                body: formData
            });

            const data = await response.json();

            if (data.success) {
                const popup = document.getElementById("popup");
                popup.style.display = "block";

                setTimeout(() => {
                    popup.style.display = "none";
                }, 5000);

                this.reset();
            }
        });
    </script>
</body>
</html>
